@import 'setup';

a {
	text-decoration: none;
	color: black;
}

.wrapper {
	@media (min-width: 675px) {
		max-width: 940px;
		padding: 0;
		margin: 0 auto;
	}
}

.wrapper-m {
	margin: 0 auto;
	padding: 0 20px;
	@media (min-width: 675px) {
		padding: 0;
	}
}

// Header: Masthead

.masthead img {
	margin: 0 auto;
	display: block;
}

// Header Nav
ul.main-nav {
	margin-bottom: 40px;
	@media (min-width: 675px) {
		display: flex;
	}
}

.main-nav li {
	background: #94b8bd;
	border: 1px solid white;
	margin-bottom: 10px;
	@media (min-width: 675px) {
		width: 20%;
	}
}

.main-nav a {
	font-family: 'Gibson';
	padding: 27px 30px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
	position: relative;
	transition: 0.2s;
	font-size: 2.6rem;
	@media (min-width: 675px) {
		font-size: 1.4rem;
		padding: 15px;
	}
}

.main-nav a:hover {
	background: #438d98;
}

span.triangle::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 9px solid white;
	margin-left: 15px;
	position: absolute;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%);
	@media (min-width: 675px) {
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid white;
		margin-left: 8px;
	}
}

// Header Hero

header.hero {
	@media (min-width: 675px) {
		display: flex;
	}
}

h1 {
	font-family: 'Franklin Gothic Narrow', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #94b8bd;
	font-size: 6.8rem;
	margin: 30px auto;
	@media (min-width: 675px) {
		font-size: 5.5rem;		
	}
}

//CTA
div.cta {
	position: relative;
	@media (min-width: 675px) {
		width: 50%;
	}
}

a.shop-all {
	display: none;
	@media (min-width: 675px) {
		display: block;
		text-decoration: none;
		font-size: 1.3rem;
		text-transform: uppercase;
		background: black;
		color: white;
		text-align: center;
		display: inline-block;
		padding: 10px 25px;
		position: absolute;
		bottom: 25px;
		left: 20px;	
		transition: 0.2s;
		@media (min-width: 940px) {
			padding: 15px 50px;
			bottom: 40px;
			left: 30px;
		}
	}
}

a.shop-all:hover {
	background: #93b6bb;
}

a.shop-all-m {
	display: block;
	background: black;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Gibson';
	font-size: 2.6rem;
	text-align: center;
	padding: 30px;
	margin: 60px auto;
	transition: 0.2s;
	@media (min-width: 675px) {
		display: none;
	}
}

a.shop-all-m:hover {
	background: #438d98;
}

// Slider 
.bx-wrapper {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	margin-bottom: 0;
}

.bx-wrapper .bx-pager {
	bottom: 30px;
	@media (min-width: 675px) {
		display: none;
	}
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: white;
	width: 16px;
	height: 16px;
	border-radius: 6px;
	border: 1px solid #dedede;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #438d98;
	;
}

// Aside products

aside.products {
	padding-top: 20px;
	@media (min-width: 675px) {
		width: 50%;
		padding: 0 15px;
	}
}

.hero .wrapper {
	@media (min-width: 675px) {
		display: flex;
		align-items: flex-end;
	}
}

div.product {
	align-items: center;
	margin-bottom: 75px;
	position: relative;
	display: flex;
	@media (min-width: 675px) {
		margin-bottom: 0px;
		margin-top: 15px;
	}
	@media (min-width: 900px) {
		margin-top: 50px;
	}
}

div.product:last-of-type {
	margin-bottom: 0;
}

div.product-image {
	width: 40%;
}

.product-image img {
	margin: 0 auto;
	max-width: 80%;
	@media (min-width: 940px) {
		max-width: 100%;
	}
}

div.product-text {
	padding-left: 35px;
	width: 60%;
	@media (min-width: 675px) {
		padding-left: 20px;
	}
}

div.product-text::before {
	content: '';
	background-color : #93b6bb;
	width: 4px;
	height: 225px;
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translateY(-50%);
	@media (min-width: 675px) {
		width: 2px;
		height: 105px;
	}
}

.product-text h3 {
	text-transform: uppercase;
	color: #93b6bb;
	font-weight: 600;
	margin-top: 0;
	letter-spacing: 1px;
	font-size: 2rem;
	@media (min-width: 550px) {
		font-size: 3rem;
	}
	@media (min-width: 675px) {
		font-size: 1.5rem;
	}
}

.product-text p {
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 15px auto;
	@media (min-width: 550px) {
		font-size: 3rem;
		margin: 30px auto;
	}
	@media (min-width: 675px) {
		font-size: 1.5rem;
		margin: 10px 0;
	}
	@media (min-width: 940px) {
		margin: 30px 0;
	}
}

span.special-b {
	font-weight: 600;
}

span.special-i {
	font-style: italic;
	font-weight: 600;
}

a.shop-product {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.8rem;
	color: black;
	position: relative;
	transition: 0.2s;
	@media (min-width: 550px) {
		font-size: 2.8rem;
	}
	@media (min-width: 675px) {
		font-size: 1.4rem;
	}
}

a.shop-product:hover {
	text-decoration: underline;
}

a.shop-product span::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 11px solid black;
	margin-left: 20px;
	position: absolute;
	z-index: 10;
	top: 45%;
	transform: translateY(-50%);
	@media (min-width: 675px) {
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 6px solid black;
		margin-left: 10px;
	}
}

// More to Explore

.explore h2 {
	font-size: 2.8rem;
	text-transform: uppercase;
	font-weight: 400;
	border-bottom: 2px solid #dfdede;
	padding-bottom: 20px;
	@media (min-width: 675px) {
		font-size: 1.8rem;
		letter-spacing: 1px;
	}
}

div.explore-product {
	display: flex;
	margin: 70px auto;
	@media (min-width: 675px) {
		flex-direction: column;
		margin: 0 20px 0 0;
	}
}

div.explore-product:last-of-type {
	margin-right: 0;
}

div.explore-product:nth-child(2) {
	order: -1;
}

div.gallery {
	@media (min-width: 675px) {
		display: flex;
		justify-content: space-between;
	}
}

div.explore-product-text {
	padding-left: 35px;
	width: 60%;
	@media (min-width: 675px) {
		padding-left: 0;
		width: 100%;
	}
}

.explore-product-text h3 {
	text-transform: uppercase;
	font-size: 2.2rem;
	font-weight: 600;
	margin-top: 0;
	@media (min-width: 550px) {
		font-size: 2.8rem;
	}
	@media (min-width: 675px) {
		font-size: 1.4rem;
		margin: 20px auto;
	}
}

.explore-product-text p {
	font-size: 2rem;
	@media (min-width: 550px) {
		font-size: 2.4rem;
	}
	@media (min-width: 675px) {
		font-size: 1.2rem;
	}
}

span.mobile-hidden {
	display: none;
	@media (min-width: 675px) {
		display: inline;
	}
}

span.plum-promo {
	text-transform: uppercase;
}

a.read-more {
	text-transform: lowercase;
	font-weight: 600;
	text-decoration: none;
	font-size: 2rem;
	color: black;
	position: relative;
	transition: 0.2s;
	@media (min-width: 550px) {
		font-size: 2.8rem;
	}
	@media (min-width: 675px) {
		font-size: 1.4rem;
	}
}

a.read-more:hover {
	text-decoration: underline;
}

.read-more span::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 10px solid black;
	margin-left: 15px;
	position: absolute;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%);
	@media (min-width: 675px) {
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-left: 6px solid black;
		margin-left: 10px;
	}
}
